*{
    padding: 0;
    text-decoration: none;
    margin: 0;
    border: 0;
}

.body{
    font-family: 'Castoro Titling', cursive;
}

header{
    top: 0;
    right: 0;
    left: 0;
    position: sticky;
    z-index: 100;
}

header h1{
    padding: 8px 0 8px 0;
    color: white;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    background-color: rgb(233, 179, 131);
}

.nav{
    padding: 20px 0 20px 0 ;
    background-color: #F4E8DE;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav img{
    height: 20px;
    margin-left: 30px;
}

.nav-menu{
    margin-right: 240px;
}

.nav-menu a{
    color: black;
    margin: 0 32px;
}

.nav-menu a:hover{
    color: brown;   
    transition: .3s;
   
}
.nav .icons a{
    font-size: 1.3rem;
    color: #000;
    margin-left: 1rem;
}
.titles{    
    color: black; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 24px;
    text-decoration: underline;
    margin: 10px 0 20px 0;
}
.titles h1{
    position: relative;
    top: 50px;
}

main{
    align-items: center;
    margin-bottom: -90px;
    display: flex;
    justify-content: center;
    background-color:white;
}
.text p{  
    text-align: justify;
    margin: 130px 140px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 18px;
    overflow: hidden;
    word-spacing: 2px;
    line-height: 2rem;
}

.row{
    color: white;
    background-color: #2D1B15;
    padding: 60px;
}
.aboutpic img{
    width: 520px;
    height: 300px;
    border-radius: 15px;
    margin: 40px 90px 0px 0px;
}
.row{
    position: relative;
    top: 80px   ;
    bottom: 10px;
    color: white;
    background-color: #2D1B15;
    padding: 60px;
    
}
.column {
    float: left;
    width: 25%;
}
.column p{
    margin-top: 10px;
}
.column p:hover{
    color:rgb(233, 179, 131);
    cursor: pointer;
    transform: scale(1.1);
    transition: .2s;
}

.column img:hover{
    transform: scale(1.5);
    transition: .2s;
    cursor: pointer;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 1024px){
    main{
        flex-direction: column;
    }

    .text p{
        font-size: 18px;
    }

    .aboutpic{
        margin: 0;
    }

    .aboutpic img{
        margin: 0;
        margin-bottom: 700px;
    }

}
/*Media Queries*/
@media screen and (max-width:1312px){ 
    .home-page{
        text-align: center;
    }
    
}

@media screen and (max-width: 1218px) {
    #menu-bar{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: -120%;
        width: 100%;
        background-color: rgb(233, 179, 131);
        border-top: .1rem solid rgba(0, 0, 0, .1);
    }
    .navbar a{
        font-size: 2rem;
        background: #F4E8DE;
        border: .1rem solid #000;
        border-radius: .5rem;
        padding: 1rem;
        margin: 1rem;
        display: block;
        text-align: center;
    }
    .nav .navbar.active{
        transition: all .2s linear;
        left: 0;
    }
}


@media screen and (max-width: 600px) {
    header h1 {
        font-size: 12px;
        padding: 6px 0;
    }

    .nav {
        padding: 1rem 3%;
    }

    .nav-menu {
        margin-right: 160px;
    }

    .nav-menu a {
        margin: 0 1rem;
    }

  
}

@media screen and (max-width: 830px){
    .products{
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    .prodcont{
        width: 98.5vw;
        height: 450px;
        opacity: 0.9;
    }
    .row .column{
        display: block;
        margin-bottom: 40px;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .home-page-text {
        font-size: 80px;
    }

    .home-page{
        width: 100%;
    }
}

@media (max-width: 480px) {
    .home-page-text {
        font-size: 50px;
    }
    .home-page{
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .home-page{
        width: 100%;
    }
    #menu-bar{
        font-size: 10px;
    }
    .nav .logo img{
        height: 13px;
    }
    .nav .icons a{
        font-size: 15px;
        margin: 0.3rem;
    }
}
    

